{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-carousel-container">
        <div class="mySlides fade">
            <img src="{{ url_for('static', filename='images/slide1.jpg') }}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{{ url_for('static', filename='images/slide2.jpg') }}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{{ url_for('static', filename='images/slide3.png') }}" style="width:100%">
        </div>
    </div>
    <br>
    <!-- The dots/circles -->
    <div class="dots-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="below-carousel">
        <h1>Recent Raves</h1>
    </div>  
    <div>
        <ul id="sentences-list">
            <!-- Sentences will be dynamically inserted here -->
        </ul>
    </div>
    
{% endblock %}