{% extends 'base.html' %}

{% block content %}
    <!-- Top Section -->
    <div class="top-section" id="top-section"></div>

    <!-- Restaurant Listings Section -->
    <div class="restaurant-list" id="restaurant-list"></div>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/item.css') }}">
    <script src="{{ url_for('static', filename='scripts/food_search.js') }}"></script>
    <script>
        // Automatically display restaurants based on the food parameter
        const foodType = "{{ food }}";
        if (foodType) {
            displayTopSection(foodType);
            displayRestaurants(foodType);
        }
    </script>
{% endblock %}